/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/styles/pages/about.sass ***!
  \*****************************************************************************************************************************/
/*
$colors: (
    primary: 249 59% 20%,        // Deep Purple for primary actions and headings
    primary-op: 249 59% 20% / 0.1, // Deep Purple with opacity for overlays or highlights
    gray: 0 0% 23%,               // Dark Gray for secondary text or less emphasized elements
    gray-op: 0 0% 23% / 0.1,      // Dark Gray with opacity for shadows or subtle borders
    background: 30 20% 98%,       // Soft Pink as a light background
    white:  0 0% 23%,             // Pure white for contrast against deep purple and for clean, crisp backgrounds
    accent: 340 80% 90%,          // Light Pink for accents and calls to action
    highlight: 250 80% 80%,       // Lavender for highlights and interactive elements
);
*/
.skill-block {
  border: 1px solid var(--gray);
  display: inline-block;
  max-width: 300px;
  min-width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.skill-block__name {
  font-weight: 600;
  padding: 8px;
  border-bottom: 1px solid var(--gray);
}
.skill-block__list {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: start;
  align-items: start;
  color: var(--gray);
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  align-items: center;
  flex-wrap: wrap;
}
.about__text {
  flex: 3 1 0;
  color: var(--gray);
  min-width: 300px;
}
.about__description {
  margin-bottom: 16px;
}
.about__illustrations {
  flex: 1 1 0;
  min-width: 300px;
}
.about__image {
  border-bottom: 1px solid var(--primary);
}

.skills__content {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: start;
}

.fact {
  padding: 8px;
  color: var(--gray);
  border: 1px solid var(--gray);
}

.facts__content {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.facts__list {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  align-items: start;
  flex-wrap: wrap;
}
