$colors: (
    "primary": 37 80% 65%, //yellow
    "primary-op": 37 80% 65%/ 0.1,
    "gray": 30 20% 98%, //sea salt white
    "gray-op":  30 20% 98% / 0.1,
    "background":195 11% 14%, //Eerie black
    "space": 192 10% 28%, // outer space
);

$desktopScreen: 1024px;
$tabletScreen: 768px;
$mobileScreen: 500px;


